*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
*.parquet
*.csv
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.json
*.log
*.tfplan
*.tfplan.*
*.zip
*.tar.gz
**.venv
pyproject.toml
uv.lock
.python-version
/04-analytics-engineering/terraform
/04-analytics-engineering/terraform/*
.bruin.yml
/05-data-platforms/my-first-pipeline
# /05-data-platforms/my-first-pipeline/*
logs/runs
logs/*.log
__pycache__/
*.py[cod]
duckdb.db
logs/queries
/06-batch/data/*